<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="form-group">
        <a th:href="@{/handBook}">Справочники</a>
        <a th:href="@{/addBook}">Добавить книгу</a>
        <a th:href="@{/personalAccount}">Личный кабинет</a>
        <a th:href="@{/logout}">logout</a>
        <div class="form-group">
            <form th:action="@{/book}" method="post">
                <select name="language" onchange="submit()">
                    <option th:value="en_US">English</option>
                    <option th:value="ru_RU">Русский</option>
                </select>
            </form>
        </div>
    </div>
    <div class="form-group">
        Жанры:
        <div th:each="genre :${genres}">
            <a th:value="genre" th:href="@{/book}?${genre.id}"><span th:text="${genre.name}"></span></a>
        </div>
    </div>
</div>
</body>
</html>